<a href="https://colab.research.google.com/github/bioqu/bioqu/blob/main/Clase%20Metodos%20cualtitativos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1 + 2

3

In [ ]:
import numpy as np

In [ ]:
np.sqrt(2)

1.4142135623730951

In [ ]:
np.pi

3.141592653589793

In [ ]:
import pandas as pd

Crear una lista

In [ ]:
Lista = pd.Series([1, 2, 3, 4, 5, 6])
print(Lista)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
Lista.size

6

Crear una tabla
Dos dimensiones

In [ ]:
Tabla = {'Columna 1': [4, 5, 6], 'Columna 2': [9, 8, 7], 'Columna 3': [1, 2, 3]}
Tabla

{'Columna 1': [4, 5, 6], 'Columna 2': [9, 8, 7], 'Columna 3': [1, 2, 3]}

In [ ]:
Datos = pd.DataFrame(Tabla)
Datos

   Columna 1  Columna 2  Columna 3
0          4          9          1
1          5          8          2
2          6          7          3

In [ ]:
Suma_C1 = Datos ['Columna 1'].sum()
print('Suma:' , Suma_C1)

Suma: 15